body{
	background-color: black;
}
#output video {
display: block;
margin-left: auto;
margin-right: auto;
height: 84%;
width: 74%;
}
#progressBar {
	height: 5px;
	width: 0%;
	background-color: yellow;
	transition: width .4s ease-in-out;
}
body.is-seed .show-seed {
	display: inline;
}
body.is-seed .show-leech {
	display: none;
}
.show-seed {
	display: none;
}
#status code {
	font-size: 90%;
	font-weight: 700;
	margin-left: 3px;
	margin-right: 3px;
	border-bottom: 1px dashed rgba(255,255,255,0.3);
}

.is-seed #hero {
	background-color: #154820;
	transition: .5s .5s background-color ease-in-out;
}
#hero {
	background-color: #2a3749;
}
#status {
	color: #fff;
	font-size: 20px;
	padding: 5px;
	display: block;
	width: 74%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
a:link, a:visited {
	color: #30a247;
	text-decoration: none;
}

#Downloadfiles{
	background-color: #2a3750;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	font: 300 1em 'Fira Sans', sans-serif;
}
#Downloadfiles h2{
	color: white;
	font-size: larger;
	text-align: center;
}

#Downloadfiles a {
	display: block;
	background-color: transparent;
	color: #ffa260;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	width: fit-content;
	text-align: center;
	border: 2px;
}




a {  
  color: #ffa260;
  transition: 0.25s;
}

#Downloadfiles a:hover {
	box-shadow: 0 0.5em 0.5em -0.4em #ffa260,;
    transform: translateY(-0.25em);
}

#Downloadfiles a:active {
	background-color: black;
}

#Downloadfiles a:visited {
	background-color: #ccc;
}

